<!-- TITLE -->
<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>

<!-- DESCRIPTION -->
<div class="form-group">
    <label for="title">Description</label>
    <textarea required type="text" name="title" id="title" class="form-control"></textarea>
</div>

<!-- MARKDOWN -->
<div class="form-group">
    <label for="title">Markdown</label>
    <textarea required type="text" name="title" id="title" class="form-control"></textarea>
</div>
<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>